<div class="row mb-5">
  <div class="col-0 col-lg-1"></div>
  <div class="col-12 col-lg-10">
    <article class="card bg-light border-secondary mt-3 mb-3 p-1">
      <div class="row g-0">
        <div class="col-md-2">
          <img class="card-img img-fluid rounded-circle" src="{{ 'assets/img/vladimir-gorej.webp' | absolute_url }} " alt="Vladimír Gorej" width="319" height="342" />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h2 class="h5 card-title">Vladimír Gorej, <small>a.k.a. <abbr title="Nickname">char0n</abbr></small></h2>
            <p class="card-text">
              Vladimír Gorej is a Prague based <strong>software engineer</strong> with focus on Web & Mobile. Passionate with software/code quality, Functional and Reactive programming.
              Vladimír is formerly Technical Team Lead of Oracle, Principal Software Engineer at Apiary and held other senior engineering and leading roles in international
              companies like Ubiquiti Networks or SecurityScorecard.
              He's active in OpenSource community for last 10 years and he currently utilizes his experience in this field in a role of OpenSource Software Engineer at SmartBear.
              His favorite programming languages include <strong>JavaScript</strong>, <strong>Python</strong> and <strong>Elixir</strong>.
            </p>
          </div>
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Person",
              "@id": "https://vladimirgorej.com",
              "address": {
                "@type": "PostalAddress",
                "addressLocality": "Prague",
                "addressRegion": "Prague"
              },
              "workLocation": {
                "@type": "PostalAddress",
                "addressLocality": "Prague",
                "addressRegion": "Prague"
              },
              "taxID": "05284503",
              "email": "mailto:vladimir.gorej@gmail.com",
              "image": "https://vladimirgorej.com/assets/img/vladimir-gorej.webp",
              "jobTitle": "Software Engineer",
              "name": "Vladimír Gorej",
              "alternateName": "char0n",
              "givenName": "Vladimír",
              "familyName": "Gorej",
              "url": "https://vladimirgorej.com"
            }
          </script>
        </div>
      </div>
    </article>
  </div>
  <div class="col-0 col-lg-1"></div>
</div>