<div class="row mb-5">
  <div class="col-0 col-lg-1"></div>
  <div class="col-12 col-lg-10">
    <article class="card bg-light border-secondary mt-3 mb-3 p-1">
      <div class="row g-0">
        <div class="col-md-2">
          <img class="card-img img-fluid rounded-circle" src="{% link assets/img/vladimir-gorej.webp %}" alt="{{ site.author.name }}" width="319" height="342" />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h2 class="h5 card-title">{{ site.author.name }}, <small>a.k.a. <abbr title="Nickname">char0n</abbr></small></h2>
            <p class="card-text">
              {{ site.author.name }} is a Prague-based <strong>software engineer</strong> passionate about software/code quality, Functional and Reactive programming.
              {{ site.author.first_name }} is formerly Technical Team Lead of Oracle, Principal Software Engineer at Apiary and held other senior engineering and leading roles in international
              companies like Ubiquiti Networks or SecurityScorecard.
              He's been active in the Open Source community for the last ten years and currently utilizes his experience in this field as an Open Source Software Engineer at SmartBear.
              Vladimír holds all OpenSource Best Practices certifications awarded by The Linux Foundation.
              Additionally, his expertise is further acknowledged as a member of the <a href="https://stars.github.com/profiles/{{ site.github_username }}/">GitHub Stars program</a>.
              He also plays a pivotal role in shaping the future of asynchronous APIs as a <a href="https://github.com/asyncapi/spec">maintainer of AsyncAPI specification</a>.
              His favorite programming languages include <strong>JavaScript</strong>, <strong>Python</strong>, and <strong>Elixir</strong>.
            </p>
          </div>
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Person",
              "@id": "{{ site.url }}",
              "address": {
                "@type": "PostalAddress",
                "addressLocality": "Prague",
                "addressRegion": "Prague"
              },
              "workLocation": {
                "@type": "PostalAddress",
                "addressLocality": "Prague",
                "addressRegion": "Prague"
              },
              "taxID": "05284503",
              "email": "mailto:{{ site.email }}",
              "image": "{{ 'assets/img/vladimir-gorej.webp' | absolute_url }}",
              "jobTitle": "Software Engineer",
              "name": "{{ site.author.name }}",
              "alternateName": "char0n",
              "givenName": "{{ site.author.first_name }}",
              "familyName": "{{ site.author.last_name }}",
              "url": "{{ site.url }}"
            }
          </script>
        </div>
      </div>
    </article>

    <article class="card bg-light border-secondary mt-3 mb-3 p-1">
      <div class="row g-0">
        <div class="col-md-2">
          <img class="card-img img-fluid rounded-circle" src="{% link assets/img/swagger-expert-logo.webp %}" alt="SwaggerExpert" width="319" height="342" />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h2 class="h5 card-title">Founder of SwaggerExpert</h2>
            <p class="card-text">
              {{ site.author.first_name }} is a founder of <a href="http://swaggerexpert.com/"><strong>SwaggerExpert</strong></a>.
              SwaggerExpert is a go-to source for expert guidance, comprehensive solutions for Swagger Open Source tools,
              and a vibrant community dedicated to developing extensions and enhancing the Swagger ecosystem.
              With more than four years of experience as a maintainer of Swagger tools, he is dedicated to helping developers and organizations
              effectively utilize and master Swagger for their API development needs.
            </p>
          </div>
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Person",
              "@id": "{{ site.url }}",
              "address": {
                "@type": "PostalAddress",
                "addressLocality": "Prague",
                "addressRegion": "Prague"
              },
              "workLocation": {
                "@type": "PostalAddress",
                "addressLocality": "Prague",
                "addressRegion": "Prague"
              },
              "taxID": "05284503",
              "email": "mailto:{{ site.email }}",
              "image": "{{ 'assets/img/vladimir-gorej.webp' | absolute_url }}",
              "jobTitle": "Software Engineer",
              "name": "{{ site.author.name }}",
              "alternateName": "char0n",
              "givenName": "{{ site.author.first_name }}",
              "familyName": "{{ site.author.last_name }}",
              "url": "{{ site.url }}"
            }
          </script>
        </div>
      </div>
    </article>
  </div>
  <div class="col-0 col-lg-1"></div>
</div>

