<div class="row mb-5">
  <div class="col-0 col-lg-1"></div>
  <div class="col-12 col-lg-10">
    <article class="card bg-light border-secondary mt-3 mb-3 p-1">
      <div class="row g-0">
        <div class="col-md-2">
          <img class="card-img img-fluid rounded-circle" src="{% link assets/img/vladimir-gorej.webp %}" alt="{{ site.author.name }}" width="319" height="342" />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h2 class="h5 card-title">{{ site.author.name }}, <small>a.k.a. <abbr title="Nickname">char0n</abbr></small></h2>
            <p class="card-text">
              {{ site.author.name }} is a Prague-based <strong>Software Engineer</strong> passionate about software and code quality.
              Over the years, he has worked as Technical Team Lead at Oracle, Principal Software Engineer at Apiary, and Senior Open Source Engineer at SmartBear,
              along with other senior engineering and leadership roles at Ubiquiti Networks and SecurityScorecard.
              Active in the Open Source community for more than fifteen years, he now applies this experience as a Senior Software Engineer (AI) at Jentic.
              Vladimír holds all Open Source Best Practices certifications awarded by The Linux Foundation. His contributions have been recognized
              as an alumni member of the <a href="https://stars.github.com/alumni/#:~:text=char0n">GitHub Stars program</a> and through his five years as a maintainer of <a href="https://swagger.io/" rel="nofollow">Swagger tools</a>.
              He also plays a pivotal role in shaping the future of asynchronous APIs as a <a href="https://github.com/asyncapi/spec">maintainer of the AsyncAPI specification</a>.
              His favorite programming languages include <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>Python</strong>, and <strong>Elixir</strong>.
            </p>
          </div>
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Person",
              "@id": "{{ site.url }}",
              "address": {
                "@type": "PostalAddress",
                "addressLocality": "Prague",
                "addressRegion": "Prague"
              },
              "workLocation": {
                "@type": "PostalAddress",
                "addressLocality": "Prague",
                "addressRegion": "Prague"
              },
              "taxID": "05284503",
              "email": "mailto:{{ site.email }}",
              "image": "{{ 'assets/img/vladimir-gorej.webp' | absolute_url }}",
              "jobTitle": "Software Engineer",
              "name": "{{ site.author.name }}",
              "alternateName": "char0n",
              "givenName": "{{ site.author.first_name }}",
              "familyName": "{{ site.author.last_name }}",
              "url": "{{ site.url }}"
            }
          </script>
        </div>
      </div>
    </article>
  </div>
  <div class="col-0 col-lg-1"></div>
</div>

