<div id="cookie-notice">
  <span>We would like to use third party cookies and scripts to improve the functionality of this website.</span>
  <a id="cookie-notice-accept" class="btn btn-primary btn-sm">Approve</a>
  <a href="{{ '/privacy-policy/' | relative_url }}" class="btn btn-primary btn-sm">Privacy Policy</a>
</div>

<script>
    if(readCookie('cookie-notice-dismissed')!=='true') {
        document.getElementById('cookie-notice').style.display = 'block';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-dismissed','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });
</script>