<footer class="bg-dark pt-4 pb-4 mt-4 text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h6 text-white">{{ site.author.name }}'s Site</h2>
        <small>My Czech Trade Register number is: <a class="text-light" href="https://wwwinfo.mfcr.cz/cgi-bin/ares/darv_rzp.cgi?ico=05284503&jazyk=en&xml=1&rozsah=0">05284503</a></small>
      </div>
      <div class="col-md-6 text-end">
        <ul class="social-buttons mt-2 mt-md-0">
          <li class="list-inline-item">
            <a href="mailto:{{ site.email }}" title="{{ site.email }}" aria-label="Email">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}" aria-label="My code in on GitHub">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://stars.github.com/profiles/{{ site.github_username }}/" aria-label="GitHub Star profile">
              <i class="fa-solid fa-star"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="You can follow me on Twitter">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://linkedin.com/in/vladimirgorej" aria-label="My CV/Resume is on LinkedIn">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://medium.com/@vladimirgorej" aria-label="Some of my writings are on Medium">
              <i class="fa-brands fa-medium"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://dev.to/char0n" aria-label="Some of my interesting comments are on DevTO">
              <i class="fa-brands fa-dev"></i>
            </a>
          </li>
        </ul>
        <br />
        <small>
          <a class="text-white" href="{% link pages/privacy-policy.html %}">Privacy Policy</a>
        </small>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 col-md-7 text-center text-white-50">
        <small>Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution 4.0 International license (<a class="text-light" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>)</small>
      </div>
      <div class="col-12 col-md-5 text-center text-white-50">
        <small>© <time datetime="2021-05-11T00:00:00+02:00">2021-2022</time> {{ site.author.name }}</small>
      </div>
    </div>
  </div>
</footer>