<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.url }}">
        <h1 class="h5 mb-0">
          {{ site.author.name }}
        </h1>
        <blockquote class="navbar-brand__quote m-0 d-none d-sm-block">
          Learning never exhausts the mind
          <cite class="d-none">Leonardo da Vinci</cite>
        </blockquote>
      </a>
      <div class="d-flex align-items-center order-md-last">
        <a class="wwm-nav-link" href="{% link pages/work-with-me.html %}">
          <span class="wwm__status-dot" aria-hidden="true"></span><span class="wwm-nav-link__label">Work with me</span>
        </a>
        <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#site-nav"
                aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="site-nav">
        <ul class="navbar-nav navbar-nav--mid">
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/blog/' %} active" aria-current="page{% endif %}" href="{% link pages/blog.html %}">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/certifications/' %} active" aria-current="page{% endif %}" href="{% link pages/certifications.html %}">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/book-reviews/' %} active" aria-current="page{% endif %}" href="{% link pages/book-reviews.html %}">Books</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
