---
layout: default
title: Certifications & Trainings
permalink: /certifications/
image:
  path: assets/img/vladimir-gorej.webp
  width: 319
  height: 342
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% link pages/homepage.html %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Certifications & Trainings</li>
  </ol>
</nav>

{%- include card.html -%}

<div class="text-center">
  <a href="https://www.credly.com/users/vladimir-gorej/badges" role="button" class="btn text-white btn-lg" style="background: #fd7e14">
    <i class="fas fa-certificate"></i> Vladimír's Credly badges
  </a>
</div>
{% assign certifications = site.certifications | sort: "timestamp" | reverse %}
{% for certification in certifications %}
  {% capture year_of_current_certification %}{{ certification.date | date: "%Y" }}{% endcapture %}
  {% capture year_of_previous_certification_in_set %}{{ certifications[forloop.index].date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
    <section>
      <h2 class="h5 mt-3 mt-md-0 mb-3 mb-md-4">{{ year_of_current_certification }}</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
  {% endif %}

  <div class="col">
    <article class="card">
      <div class="card-header"><time datetime="{{ certification.date | date_to_xmlschema }}">{{ certification.date | date: "%-d %B"}}</time></div>
      <img loading="lazy" src="{{ certification.image.path | relative_url }}" class="card-img-top card-img-top--scale-down{% if certification.image.object-fit %}card-img-top--scale-down card-img-top--{{ certification.image.object-fit }}{% endif %}" alt="{{ certification.title }}" />
      <div class="card-body">
        <div class="card-title">
          <h3 class="h5 text-truncate-3">{{ certification.title }}</h3>
        </div>
        <a href="{{ certification.url }}" class="stretched-link btn btn-outline-dark">Show certificate</a>
      </div>
    </article>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "EducationalOccupationalCredential",
        "educationalCredentialAwarded": "certificate",
        "author": { "@id": "{{ site.url }}" },
        "publisher": { "@id": "{{ site.url }}" },
        "image": "{{ certification.image.path | absolute_url }}",
        "headline": "{{ certification.title }}",
        "datePublished": "{{ certification.date | date_to_xmlschema }}",
        "url": "{{ certification.url | absolute_url }}"
      }
    </script>
  </div>

  {% if forloop.last %}
      </div>
    </section>
  {% else %}
    {% if year_of_current_certification != year_of_previous_certification_in_set %}
      </div>
      </section>
      <section>
        <h2 class="h5 mt-3 mt-md-0 mb-3 mb-md-4">{{ year_of_previous_certification_in_set }}</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
    {% endif %}
  {% endif %}
{% endfor %}