---
layout: default
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% link pages/homepage.html %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% link pages/book-reviews.html %}">Latest books reviews</a></li>
  </ol>
</nav>

<article class="row">

  <div class="col-0 col-md-2"></div>
  <div class="col-12 col-lg-8">
    <div>
      <div class="d-flex justify-content-center">
        <figure class="figure">
          <img src="{{ page.book.image.path | relative_url }}" width="{{ page.book.image.width }}" height="{{ page.book.image.height }}" class="figure-img rounded mx-auto d-block img-fluid" alt="{{ page.book.name | escape }}" />
          <figcaption class="figure-caption text-center">{{ page.book.image.caption }}</figcaption>
        </figure>
      </div>

      <header class="post-header mt-3">
        <h1 class="text-justify">{{ page.book.name | escape }}</h1>
        <p class="lead">
          {{ page.book.abstract }}
        </p>
        <span class="text-muted">Book read on</span> <time class="text-muted" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
      </header>

      <hr />

      {{ content }}
    </div>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Book",
        "name": "{{ page.book.name }}",
        "author": "{{ page.book.author }}",
        "bookFormat": "{{ page.book.bookFormat }}",
        "datePublished": "{{ page.book.datePublished }}",
        "abstract": "{{ page.book.abstract }}",
        "image": "{{ page.book.image.path | absolute_url }}",
        "inLanguage": "{{ page.book.inLanguage }}",
        "isbn": "{{ page.book.isbn }}"
      }
    </script>
  </div>
  <div class="col-0 col-md-2"></div>

</article>
