---
layout: default
---

<article class="row">

  <div class="col-0 col-md-2"></div>
  <div class="col-12 col-lg-8">
    <div>
      <div class="d-flex justify-content-center">
        <figure class="figure">
          <img src="{{ page.image.path | relative_url }}" width="{{ page.image.width }}" height="{{ page.image.height }}" class="figure-img rounded mx-auto d-block img-fluid" alt="{{ page.title | escape }}" />
          <figcaption class="figure-caption text-center">Swagger Editor Validate - GitHub Action</figcaption>
        </figure>
      </div>

      <header class="post-header mt-3">
        <h1 class="text-justify">{{ page.title | escape }}</h1>
      </header>

      <hr />

      {{ content }}
    </div>

    <section>
      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}
    </section>
  </div>
  <div class="col-0 col-md-2"></div>

</article>
